.main {
  display: flex;
  gap: 2%;
  position: relative;
}
.card {
  display: flex;
  gap: 1%;
  flex-direction: column;
  width: 20%;
  margin-bottom: 0.5rem;
  padding: 5px 10px;
  font-weight: 700;
  background-color: #f8f8ff;
  border: 1px solid sandybrown;
  border-radius: 5px;
  color: black;
}
.card:hover {
  background-color: #fff0f5;
  transition: all 0.7s;
}
.big {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 1rem;
  color: blue;
}
.btn {
  align-self: center;
}
.details {
  align-self: flex-start;
  z-index: 2;
}
.image {
  max-width: fit-content;
  text-align: right;
}
.img {
  max-width: 100%;
}
.modal {
  position: fixed;
  inset-inline: 0;
  inset-block: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
